{% load social_tags %}
{% load cache %}

{% cache 500 sidebar_cache %}
<div class="col-lg-4 col-md-4">
    <div class="sidebar__item">
        <div class="sidebar__about__item">
            <div class="sidebar__item__title">
                <h6>About me</h6>
            </div>
            {% get_about as about %}
            <img src="{{ about.get_first_image }}" alt="">
            <h6>Hi every one! I`m <span>{{ about.name }}</span></h6>
            <p>{{ about.mini_text|safe }}</p>
            <a href="{% url 'about' %}" class="primary-btn">Read more</a>
        </div>
        <div class="sidebar__follow__item">
            <div class="sidebar__item__title">
                <h6>Follow me</h6>
            </div>
            {% get_social_links as social_links %}
            <div class="sidebar__item__follow__links">
                {% for item in social_links %}
                <a href="{{ item.link }}"><img src="{{ item.icon.url }}"></a>
                {% endfor %}
            </div>
        </div>

        <div class="sidebar__item__categories">
            <div class="sidebar__item__title">
                <h6>Categories</h6>
            </div>
            {% include 'blog/include/sidebar_category.html' %}
        </div>
    </div>
</div>
{% endcache %}